body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fffff0;
    margin: 0;
    color: #563D16;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.logo-icon {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.nav-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}

.container {
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;  /* Reduced gap to fit all items in one line */
    position: absolute;
    bottom: 430px; /* Adjust this value to align the nav items with the bottom of the logo */
    left: 50%;
    transform: translateX(-50%);
}

.menu-item {
    cursor: pointer;
    padding: 10px 15px; /* Reduced padding to fit all items in one line */
    white-space: nowrap;  /* Prevents text from wrapping */
}

.promo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.banner {
    display: flex;
    gap: 0;
}

.banner-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.promo-text {
    font-size: 24px;
    text-align: left;
    margin-left: 50px;
}

.shop-now-button {
    border-radius: 20px;
    background-color: #fffff0;
    border: 1px solid #000;
    padding: 5px 30px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
}

.section-title {
    font-size: 25px;
    margin: 20px 0;
}

.product-table {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.product-card {
    text-align: center;
    padding: 10px;
}

.product-image {
    width: 200px;
    height: 160px;
    object-fit: cover;
    cursor: pointer;
}

.product-name {
    margin: 5px 0;
}

.product-price {
    font-size: 18px;
    margin: 5px 0;
}

.original-price {
    text-decoration: line-through;
    color: #999;
}

.see-more-button {
    font-weight: 300;
    cursor: pointer;
    margin: 20px 0;
}

footer {
    background-color: #fefdfd;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.footer-section {
    text-align: left;
}

.subscription {
    text-align: left;
}

.email-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.email-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.subscribe-button {
    background-color: #563d16;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 220px; /* match input width */
    margin-top: 10px;
}

h3, p {
    margin: 5px 0;
}
