body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #1E1E1E;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

nav {
    width: 90%;
    background: #444;
    border-radius: 40px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 13px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9rem;
}

main {
    background: #222;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    margin-top: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    width: 200px;
}

button {
    background: #b60000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

button:hover {
    background: #d00000;
}

#output {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

