body{
    text-align: center;
    background-image: url("Scrabble.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
main{
    background-color: darkgreen;
    height: 200px;
    width: 800px;
    margin-left: 225px;
    margin-top: 50px;
}
header{
    margin-top: 100px;
    background-color: darkgreen;
    height: 100px;
    width: 800px;
    color: white;
    margin-top: 100px;
    margin-left: 225px;
}