body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fffff0;
    margin: 0;
    color: #563D16;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.logo {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search_bar {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}

.container {
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: 430px;
    left: 50%;
    transform: translateX(-50%);
}

nav a {
    text-decoration: none;
    color: #563D16;
}

.navbar_item {
    cursor: pointer;
    padding: 10px 15px;
    white-space: nowrap;
}

.title_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-size: 14px;
    color: #563D16;
    margin-top: 70px;
}

.title_bar h2 {
    margin: 0;
    font-size: 24px;
    color: #563D16;
}

.left_text {
    font-size: 12px;
    color: #563D16;
}

.left_text a {
    text-decoration: none;
    color: #563D16;
}

.right_text {
    font-size: 12px;
    color: #563D16;
}

.product_table {
    width: 100%;
    margin: 40px auto;
}

.product_table table {
    width: 100%;
    border-collapse: collapse;
}

.product_table td {
    text-align: center;
    padding: 20px;
}

.product_card {
    text-align: center;
    padding: 10px;
}

.product_card a {
    text-decoration: none;
    color: #563D16;
}

.product_image {
    width: 290px;
    height: 250px;
    object-fit: cover;
}

.product_name {
    margin: 5px 0;
}

.product_price {
    font-size: 18px;
    margin: 5px 0;
}

.original_price {
    text-decoration: line-through;
    color: #999;
}

footer {
    background-color: #fefdfd;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.footer_section {
    text-align: left;
}

.subscription {
    text-align: left;
}

.email_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.email_input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.subscribe_button {
    background-color: #563d16;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 220px;
    margin-top: 10px;
}

h3, p {
    margin: 5px 0;
}

.toggle_icon {
    display: none;
}

@media screen and (max-width: 450px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .logo {
        margin-bottom: 10;
    }

    .toggle_icon {
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        padding-right: 100%;
    }

    .menu {
        justify-content: space-between;
        width: 100%;
        padding-top: 10%;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0;
        top: 7%;
        left: 0;
    }

    .navbar_item {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 60%;
    }

    .banner_image {
        display: none;
    }

    .banner_image1 {
        width: 100%;
        height: auto;
    }

    .section_title {
        font-size: 20px;
    }

    .product_grid {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .product_card {
        width: 100%;
        font-size: 60%;
    }

    .product_image {
        width: 100%;
        height: auto;
    }

    .footer_section {
        text-align: center;
    }

    .product_price{
        font-size: 110%;
    }

    .title_bar h2{
        font-size: 140%;
    }

    .left_text, .right_text{
        font-size: 70%;
    }

    footer{
        flex-direction: column;
        display: flex;
    }

    .subscription{
    text-align: center;
    }

    .email_input{
        width: 50%;
        padding-left: 25%;
    }

    .search_bar{
        width: 60%;
    }

    .product_table{
        padding-left: 2%;
    }
    
    .navbar.active {
        display: flex;
        margin-left: 15%;
        background-color: #fff;
        padding: 34%;
    }
}


