body{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.page,.explain{
    width: 100%;
    position: relative;
    text-align: center;
    background-image:url("image/pattern.jpg");
    height: 100%;
}
.intro{
    background-image:url("image/kendo.jpg");
    background-position:center;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter:brightness(0.4);
}
.text{
    position:absolute;
    top: 25%;
    left: 50%;
    width: 100%;
    transform: translate( -50%, -50%);
    font-size: 15px;
    text-align: center;
    color:white;
    filter: brightness(0.9);
}
header{
    background-color: white;
    padding-left: 5px;
}
.nav{
    text-align: left;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 1px;
    font-size: 17px;
    a:link{
        color: white;
    }
    a:visited{
        color: white;
    }
    a{
        text-decoration: none;
    }
}
img {
    float: left;
    margin-right: 20px;
}
.photos{
    padding-top: 50px;
}
footer{
    padding-top: 20px;
}
h2{
    background-color: white;
}