:root {
    --colour-primary: #733F2D;
    --colour-secondary: #D99B77;
    --colour-highlight: #F26938;
    --colour-black: #260101;
    --colour-light: #f5e0b5;

    --font-headings: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-body: 'Courier New', Courier, monospace;
}

body {
    /* basic page layout */
    max-width: 1000px;
    margin: auto;
    background-color: var(--colour-light);
    /* type */
    font-family: var(--font-body);
    font-size: 16pt;
    color: var(--colour-primary);
}

/* headings / header / footer */
header, footer, h1 {
    font-family: var(--font-headings);
    color: var(--colour-primary);
}
footer  {
    margin-top: 30vh;
}
h1 {
    text-align: center;
}
section#branding {
    display: flex;
    justify-content: space-around;
}
p.tiny-right {
    text-align: right;
    font-size: small;
}

/* where we accept the user's input  */
form {
    display: flex;
}
input {
    flex-grow: 1;
    font-size: 16pt;
}
button {
    font-size: 16pt;
    color: var(--colour-light);
    background-color: var(--colour-highlight);
    border-radius: 10px;
    margin: 0.5vw;
}

/* where the chat appears */
section#output p {
    margin: 2vh;
    font-weight: bold;
}
/* style for chat messages from user */
p.user {
    color: var(--colour-light);
    background-color: var(--colour-primary);
}
/* style for chat messages from chatbot */
p.chatbot {
    color: var(--colour-black);
    background-color: var(--colour-secondary);
}
