body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #1E1E1E;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

nav {
    background: #333;
    border-radius: 40px;
    padding: 20px 50px;
    width: 90%;
    display: flex;
    align-items: center;
}

nav .logo {
    height: 40px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li {
    margin: 0 13px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2E2E2E;
    width: 90%;
    max-width: 800px;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #444;
}
